<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <title>High Tops <%= ' - ' + current_page.data.title unless current_page.nil? %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <%= stylesheet_link_tag "blog" %>
    <link href='http://fonts.googleapis.com/css?family=Archivo+Black|Archivo+Narrow:400,700,400italic|Enriqueta:400,700' rel='stylesheet' type='text/css'>
    
  </head>
  <body>
    <%= partial "partials/nav" %>
    
    <div id="blog-content" role="main">
     <h1><%= current_page.data.title unless current_page.nil? %></h1>
      <%= yield %>
    </div>
    
    <%= javascript_include_tag "all", "layout_blog" %>
    <%= google_analytics_tag %>
  </body>
</html>
