<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <title>Up State: High Quality, Mobile Responsive Websites<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Modern, mobile responsive websites launched in one week for $999." />
    <meta name="keywords" content="web, design, development, responsive, wordpress, fast, website, nyc, new, york, city, blog, ecommerce, business, corporate, analytics, marketing, mobile" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="High quality, mobile responsive websites launched in one week for $999." />
    <meta name="twitter:title" content="Up State" />
   
    <meta name="og:title" content="Up State: Modern Websites for $999" />
    <meta name="og:description" content="Up State makes launching high quality websites fast, easy and stress-free. Focus on running your business while NYC-based designers and developers build your custom website. Up State is a great solution for small businesses, professionals, and product landing pages." />
    <meta name="og:image" content="/images/og-facebook.jpg" />
    <meta property="og:site_name" content="Up State: Modern Websites for $999"/>
    <meta property="og:url" content="http://www.upstatebiz.com" />
    <meta property="fb:app_id" content="1567421840188604" />
    <meta property="og:type" content="website" />
    <link rel="canonical" href="http://www.upstatebiz.com" />

    <%= partial "partials/favicon" %>


    <%= stylesheet_link_tag "all" %>
     <link href='http://fonts.googleapis.com/css?family=Archivo+Black|Archivo+Narrow:400,700,400italic|Enriqueta:400,700' rel='stylesheet' type='text/css'>

    <%= javascript_include_tag  "upstate" %>

  </head>

  <body>

  <%= yield %>
  
  <%= google_analytics_tag %>
  </body>
</html>
